@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --color-accent: #ddb967;
}

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 156px;
}

.list-navbar {
  display: flex;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}

.list-navbar a:hover {
  color: var(--color-accent);
}

#about {
  margin: 36px 156px;
}

#about h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 36px;
}

#about-content {
  display: flex;
  align-items: center;
  gap: 144px;
}

#about-content img {
  border-radius: 12%;
}

.content-left p {
  font-size: larger;
  line-height: 1.6;
}

.content-left > p {
  margin-bottom: 24px;
}

.content-left h3 {
  font-size: x-large;
  margin-top: 24px;
  margin-bottom: 6px;
}

.edu-content > div {
  display: flex;
  justify-content: space-between;
}
