@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --color-accent: #ddb967;
}

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 156px;
}

.list-navbar {
  display: flex;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}

.list-navbar a:last-child {
  margin-right: 0;
}

.list-navbar a:hover {
  color: var(--color-accent);
}

#blog {
  margin: 36px 240px;
}

#blog h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 36px;
}

#blog > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 204px;
  padding: 24px 36px;
  border-radius: 24px;
}

#blog div,
#blog h3,
#blog p,
#blog a,
#blog img {
  background-color: #ddb967;
}
