@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --color-accent: #ddb967;
}

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 156px;
}

.list-navbar {
  display: flex;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}

.list-navbar a:hover {
  color: var(--color-accent);
}

#contact {
  margin: 36px 156px;
}

#contact > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 60px;
}

#contact > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-content {
  width: 50%;
}

#contact-form {
  width: 50%;
}

.contact-text {
  font-size: 24px;
  line-height: 1.6;
}

.contact-socmed {
  display: flex;
}

.contact-socmed > a {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.contact-socmed a {
  gap: 12px;
  text-decoration: none;
  color: black;
}

form {
  border: 5px solid #ddb967;
  margin: 0 36px;
  padding: 24px 48px;
}

form > h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input-group label {
  margin-bottom: 12px;
  font-size: 24px;
}

.input-group input {
  border: none;
  border-bottom: 0.5px solid black;
}

.button-contact-form {
  display: flex;
  justify-content: center;
}

.btn-form {
  border: none;
  background-color: #ddb967;
  padding: 12px 24px;
  border-radius: 24px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  font-style: italic;
}
