@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --color-accent: #ddb967;
}

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 156px;
}

.list-navbar {
  display: flex;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}

.list-navbar a:hover {
  color: var(--color-accent);
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 156px;
}

#home h1 {
  font-size: 60px;
}

#home p {
  font-size: xx-large;
  margin-top: 12px;
  margin-bottom: 48px;
}

#home a {
  background-color: var(--color-accent);
  color: black;
  padding: 12px 36px;
  border-radius: 24px;
  text-decoration: none;
}
