@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --color-accent: #ddb967;
}

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 156px;
}

.list-navbar {
  display: flex;
  list-style: none;
}

.list-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}

.list-navbar a:last-child {
  margin-right: 0;
}

.list-navbar a:hover {
  color: var(--color-accent);
}

#skill {
  margin: 36px 156px;
}

#skill-content,
.exp-detail {
  margin-bottom: 24px;
}

#skill-content h5,
#experience-content > h5 {
  font-size: 24px;
}

#skill-content h5,
#exp-header {
  margin-bottom: 24px;
}

.skill-list {
  display: flex;
  justify-content: space-evenly;
}

#exp-header,
#exp-content {
  display: flex;
  justify-content: space-between;
}

#btn-expand {
  background-color: var(--color-accent);
  border: none;
  padding: 12px 16px;
  border-radius: 24px;
  cursor: pointer;
}

#btn-expand:hover {
  background-color: black;
  color: var(--color-accent);
}

.skill-list li,
#exp-header h5 {
  font-size: larger;
  line-height: 1.6;
}

#exp-content {
  align-items: center;
  display: none;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 24px;
}

.exp-first-left {
  width: 50%;
}

.exp-first-right,
.exp-second-right {
  display: flex;
  justify-content: flex-end;
}

.exp-first-right img:first-child {
  margin-right: 12px;
}
